<style>
    .title {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 23px;
        margin-bottom: 10px;
        text-align: left;
        font-style: italic;
    }
    .authority {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 17px;
        margin-bottom: 10px;
        text-align: left;
    }
    .subtitle {
        color: #999999;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 17px;
        margin-bottom: 10px;
        text-align: left;
        font-weight: bold;
    }
    .family {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 17px;
        margin-bottom: 10px;
        text-align: left;
        font-weight: bold;
    }
    .heading {
        color: #666666;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 17px;
        margin-bottom: 10px;
        text-align: left;
    }
    p {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 15px;
        margin-bottom: 15px;
        text-align: left;
    }
</style>

<div class="title">{{genusSpecies}}</div>

<div class="authority">{{authority}}</div>

<div class="subtitle">{{commonName}}</div>

<div class="family">{{family.name}}</div>

<br/>

<div class="heading">Description</div>
<p>{{description}}</p>

<br/>

<div class="heading">Distribution</div>
<p>{{distribution}}</p>

<br/>

<div class="heading">Information</div>
<p>
    {{family.phylogeny}}<br />
    {{information}}
</p>